.mat-form-field{
  width: 100%;
  margin-left: 8px;
}
::ng-deep.custom-style{
  background-color: #12d917;
  color: #ffffff;
}
::ng-deep.custom-style-{
  background-color: #ff130e;
  color: #ffffff;
}
