/*.btn{*/
/*  transition: all .5s ease;*/
/*  width: 50%;*/
/*  border-radius: 30px;*/
/*  color: rgba(0, 239, 12, 0.55);*/
/*  font-weight: 600;*/
/*  background-color: #fff;*/
/*  border: 1px solid rgba(75, 187, 76, 0.99);*/
/*  margin-top: 1.5em;*/
/*  margin-bottom: 1em;*/
/*}*/
/*.btn:hover, .btn:focus{*/
/*  background-color: #5dff5f;*/
/*  color:#fff;*/
/*}*/
/*.form-gap {*/
/*  padding-top: 70px;*/
/*}*/
::ng-deep.custom-style{
  background-color: #ffffff;
  color: #0b7bb0;
}
::ng-deep.custom-style-{
  background-color: #ff130e;
  color: #ffffff;
}
button{
  background-color: #f3e330;
  width:130px;
}
button:hover{
  color:white;
  background-color: #4f4b4b;
}
