.nav-container{
  display: grid;
  grid-template-columns: 90% 10%;
  width: 100%;
}
.mat-drawer-content{
  height: 80vh;
  padding: 1rem;
}
.mat-toolbar{
  background-color: rgba(93, 255, 95, 0);
color: rgba(0, 0, 0, 0.55);
}
.container{
  width: 100%;
}
::ng-deep.custom-style{
  background-color: rgb(18, 217, 23);
  color: rgba(0, 0, 0, 0.55);
}
.mat-list-item:hover {
  background-color: #eaeac7;
}
