<mat-card>
  <mat-card-header>
    <mat-card-title>
    <span><h3 style="alignment: center"><img src="assets/img/flycar.png" width="130px;" style="margin-right: 70px;">Reset your password</h3></span>
    </mat-card-title>
    <br>
    <br>
    <br>
    <br>
    <hr>
  </mat-card-header>
  <form [formGroup]="myForm">
 <mat-card-content>
    <mat-form-field style="width:100%;">
      <input matInput type="email" placeholder="Ex. admin@lbconsulting.tn" formControlName="email" required>
      <mat-hint>Please enter your email</mat-hint>
      <mat-error>Email is required </mat-error>
    </mat-form-field>
      <div align="end">
      <button mat-button style="margin-right: 10px;" mat-dialog-close>Cancel</button>
      <button mat-button (click)="forgotPassword(myForm.value)" [disabled]="myForm.invalid">Continue</button>
      </div>
 </mat-card-content>
  </form>
</mat-card>
