button{
  background-color: #f3e330;
  width:130px;
}
button:hover{
  color:white;
  background-color: #4f4b4b;
}
::ng-deep.custom-style{
  background-color: rgb(18, 217, 23);
  color: rgba(0, 0, 0, 0.55);
}
