<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span><h3 style="alignment: center"><img src="assets/img/flycar.png" width="130px;" style="margin-right: 70px;">you have to create an account</h3></span>
    </mat-card-title>
    <br>
    <br>
    <br>
    <br>
    <hr>
  </mat-card-header>
    <mat-card-content>
      <div align="end">
        <button mat-button style="margin-right: 10px;" mat-dialog-close>Cancel</button>
        <button mat-button (click)="navigate()" mat-dialog-close >Signup</button>
      </div>
    </mat-card-content>
</mat-card>
