
<div style="background-color:#f17f7f; display:inline-block;float:left;width:22%;margin-left:2%" class="card-header card-header-success card-header-icon">
  <div class="card-icon" align="end">
<!--    <i class="material-icons">account_circle</i>-->
    <svg  xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
    </svg>
  </div>
  <h2 class="card-title">{{nbUser}}<br>
  <h3>Users</h3></h2>
</div>
  <div style="background-color:#d6fab0; display:inline-block;float:left;width:22%;margin-left:2%" class="card-header card-header-success card-header-icon">
    <div class="card-icon" align="end">
      <img src="http://cdn.onlinewebfonts.com/svg/img_553938.png" width="46" height="46" fill="currentColor">
    </div>
    <h2 class="card-title">{{nbCars}}<br>
    <h3>Cars</h3></h2>
  </div>
  <div style="background-color:#eadba9; display:inline-block;float:left;width:22%;margin-left:2%" class="card-header card-header-success card-header-icon">
    <div class="card-icon" align="end">
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
        <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
      </svg>
    </div>
    <h2 class="card-title">$34,245<br>
    <h3>Revenue</h3></h2>
  </div>
  <div style="background-color:#8bd9d0; display:inline-block;float:left;width:22%;margin-left:2%" class="card-header card-header-success card-header-icon">
    <div class="card-icon" align="end">
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-calendar3-week" viewBox="0 0 16 16">
        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
        <path d="M12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-5 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm2-3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-5 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
    </div>
    <h2 class="card-title">{{this.nbReservation}}<br>
    <h3>Reservation</h3></h2>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<div style="width:55%;height:10cm;border: #333333 solid 1px;display:inline-block;float:left;margin-right:10%">
    <p-chart type="bar" [data]="basicData" ></p-chart>
</div>
<div style="width: 30%;display: inline-block;float: left">
  <p-chart type="doughnut" [data]="data" [options]="chartOptions"></p-chart>
</div>
