.form-gap {
  padding-top: 70px;
}
.btn{
  transition: all .5s ease;
  width: 50%;
  border-radius: 30px;
  color: #00ef0c;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #5dff5f;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn:hover, .btn:focus{
  background-color: #5dff5f;
  color:#fff;
}
::ng-deep.custom-style{
  background-color: #ffffff;
  color: #0b7bb0;
}
::ng-deep.custom-style-{
  background-color: #ffffff;
  color: #ff130e;
}
